/*##################### Defaults ####################*/

nav,
header,
footer {
    display: block;
}

body {
    background-color: #232830;
    background-image: url(Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    line-height: 1;
    margin: 0;
    overflow: hidden;
}

.container-fluid {
    text-align: center;
}

/*##################### Nav bar ####################*/

nav {
    width: 100%;
    margin: 0;


}

img.nav-image {
    position: absolute;
    padding-left: 22vw;
    min-height: 50px;
    width: auto;
    opacity: 0.7;
    background-size: cover;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-left: 25vw;
    position: relative;
}

ul.nav li {
    list-style: none;
    float: left;
}

ul.nav li.nav-right {
    float: right;
}

ul.nav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding: 17px 18px 17px 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 1px;
}

ul.nav li a:hover {
    position: relative;

}

ul.nav li a:hover:after {
    content: url(Images/next%20arrow.png);
    display: block;
    position: absolute;
    left: -5px;
    top: 12px;

}

ul.nav li.dropdown-icon {
    display: none;
    text-align: left
}

/*##################### custom sytles ##############*/

div.main-logo img {
    display: block;
    width: 100%;
    margin-top: 9vw;
}

h1.title {
    display: block;
    margin-top: 10vw;
    color: #1C6F19;
    text-align: left;
    ;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 6vw;
}

/*
img.logo {
    width: 18vw;
    height: auto;
}
*/

.shop-button {
    height: 50px;
    width: 250px;
    margin-top: 6%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    border-radius: 60px;
    border: none;
    font-weight: 500;
}

.shop-button:hover {
    color: #000000;
    background-color: #ffffff;
    font-weight: 800;
}

/*#################### Footer ######################*/

/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.footer {
    background-color: #232830;
    padding-left: 10%;

}

footer.footer h1 {
    color: #ffffff;
    font-size: 35px;

}

footer.footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

footer.footer ul li {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
}
*/

/*##################### >1080p #####################*/

/*
@media screen and (min-width: 1920px) {

    img.nav-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 78vw;
        height: 50px;
    }
}
*/

/*################ Small Screen ####################*/
/*

@media screen and (max-width: 1280px) {
    img.nav-image {
        display: none;
    }
    nav {
        background-color: rgba(28, 111, 25, 0.7);
    }
    nav ul {
        margin-left: 0;
    }
    body {
        background-size: auto;
    }
}
*/


/*##################### mobile #####################*/


@media screen and (max-width: 580px) {

    div.main-logo img {
        display: block;
        width: 100%;
        margin-top: 3vw;
    }
/*
    ul.nav li:not(:nth-child(1)) {
        display: none;

    }
    ul.nav li.dropdown-icon {
        display: block;
        float: right;
    }
    img.nav-image {
        display: none;
    }
    nav {
        background-color: rgba(28, 111, 25, 0.7);
    }
    nav ul {
        margin-left: 0;
    }
    ul.nav.responsive li.dropdown-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.nav.responsive {
        position: relative;
    }
    ul.nav.responsive li {
        display: inline;
        float: none;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
    body {
        background-size: auto;

    }

    div.mobile-footer {
        width: 50%;
        display: block;
    }
*/


}
